@charset "UTF-8";

body{
    background-image: url(img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.card-header{
    background: transparent;
    backdrop-filter: blur(500px)
}

.card-body {
    background: transparent;
    backdrop-filter: blur(500px)
}